<div class="static-slider-head" style="background-image: url(assets/images/landingpage/banner-bg.jpg)">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">CHOMAR</h1>
        <h5 class="subtitle op-5">
          Cyber ​​Security Technologies Industry and Trade Joint Stock Company
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-12 no-trans text-center">
      <h2 class="title">Company's field of activity </h2>
      <h6>
        62.01.01-Computer programming activities <br>(with software such as system, database, network, web page etc.)
        coding of customer-specific software, etc.)
      </h6>
    </div>
  </div>
  <!-- Column -->
</div>


<div class="bg-light spacer feature1">
  <div class="container">
    <div class="container spacer">
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-12 no-trans text-center" style="background-color: #dcedf567;">
          <h2 class="title">Brief Corporate Information About the Company</h2>
          <h6>
            The company operating on a global scale; users' cyber security problems with innovative methods
            solver,
            Unique endpoint that prioritizes user experience and appeals to the global market, which can be used on different platforms.
            develops spot protection products. <br>All R&D activities are carried out in Turkey.
            CHOMAR
            The first priority of Antivirus is to ensure the safety of users in the digital world with the products it has developed.
            to provide.<br><br>
            CHOMAR awarded the "OPSWAT Gold" certificate with the highest criteria, which only a few companies in the world have, in September 2016.
            nominal
            received with. In October 2019, with the changing certification criteria, its current certificate is "OPSWAT Platinum".
            raised to the level. In the tests carried out by SKD Labs in 2020 and 2021, corporate and
            received STARCHECK certificates with a rate of 99.99% with its individual-oriented products. Independent testing and
            certification
            institution "Virus Bulletin", with its individual and corporate products for the 7th time.
            "VB100"
            was awarded the prize. "SKD AWARDS 2021 PRODUCT" in individual and corporate endpoint protection categories
            EXCELLENCE” awards. SKD AWARDS product excellence award *2 years in a row
            In Turkey
            It has taken its place among the first and only companies, and among the few companies globally.
            <br><br>CHOMAR, while maintaining its commitment to provide its Customers with the best endpoint protection products,
            from televisions,
            with high-tech cyber security products in a wide range from mobile devices to digital
            in the world
            It will continue to keep you safe.

          </h6>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>



<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-center">
      <h2 class="title">Product/Service Details</h2>
      <h6>
        CHOMAR is a global cybersecurity company that manufactures endpoint protection products.<br>

        On individual and corporate platforms; Android, Windows, Linux, MacOS, iOS, HarmonyOS and hardware-based cyber
        manufactures security products.<br><br><br><br>
        <div class="row">
          <div class="col-md" style="background-color: #ebe8df;">
            <b>INDIVIDUAL PRODUCTS</b><br><br>
            CHOMAR Antivirus<br>
            CHOMAR Internet Security<br>
            CHOMAR Mobile Security<br>
            CHOMAR Mobile Antivirus<br>
            CHOMAR AppLocker<br>
            CHOMAR Battery Saver<br>
            CHOMAR Parental Control<br>
            CHOMAR Smart TV Security<br>
            CHOMAR Antivirus (Pardus)<br>
            CHOMAR Internet Security (Pardus)<br><br>
          </div>
          <div class="col-md" style="background-color: #d4d3cf;">
            <b>CORPORATE PRODUCTS</b><br><br>
            CHOMAR Endpoint Antivirus<br>
            CHOMAR Endpoint Security<br>
            CHOMAR Remote Administrator<br>
            CHOMAR Mobile Security<br>
            CHOMAR Mobile Antivirus<br>
            CHOMAR Smart TV Security<br>
            CHOMAR Endpoint Antivirus (Pardus)<br>
            CHOMAR Endpoint Security (Pardus)<br>
            CHOMAR Cyber ​​Security Kiosk<br>
            CHOMAR Embedded App Defense<br>
          </div>
        </div>






      </h6>
    </div>
    <!-- Column -->
  </div>
</div>

<div class="bg-light spacer feature1" style="background-image: url('../assets/images/home.jpg'); ">
  <div class="container">
    <div class="container spacer">
      <div class="row justify-content-center" >
        <!-- Column -->
        <div class="col-md-6 no-trans text-center">
          <h2 class="title" style="background-color: #ffffffd7; width:500px ">Firmanın Organizasyonel Yapılanması</h2>
          <h6 style="background-color: #ffffffb0; width:500px">
            AR-GE _________x____________<br>
            Support Services______x_____<br>
            Administrative Affairs ________x_______<br>
            Export ____________________<br>
            Human Resources _____x_____<br>
            Finance __________x__________<br>
            Quality_____________<br>
            Logistics _________x_________<br>
            Accounting _________x_________<br>
            Project _________x____________<br>
            Advertisement___________x__________<br>
            Sales __________x___________<br>
            Purchasing _________x_______<br>
            Strategic Management _____x____<br>
            Production/Manufacturing _______x______<br>
            <br>

            <b>Other Units</b><br><br>

            Engineering ________x________<br>
            Marketing __________x________<br>


          </h6>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>

<!-- Column -->



<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-12 no-trans text-center">
      <h2 class="title">Communication</h2><br>
      <h6>
        <h6>Address: Ciftlikkoy district. Mersin University, Technopark administrative building, floor: 2 no: 207 Yenişehir / Mersin</h6>
        <br> <div class="row">
           <div class="col-md">
             Phone: 0850 840 0 <br><br>
             E-mail info@chomar.com.tr<br><br>
             Website https://www.chomar.com.tr/<br>
           </div>
           <div class="col-md">
           Contact Persons<br><br>
           S. Bilgehan ÜSTÜNDAĞ (Chairman of the Board)<br><br>
           Hüsnü ÖNER (CTO)<br>
         </div>
    </div>

    </h6>
  </div>
  <!-- Column -->
</div>
</div>