<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <h6>
        Our company, which develops its projects with the priority of being 100% domestic and high-tech, continues its R&D activities in Turkey. CHOMAR Antivirus produces unique products that solve the cyber security problems of users with innovative methods, keep the user experience in the foreground, and appeal to the global market that can be used on different platforms.
      </h6>
      <h6>
        CHOMAR Antivirus, Turkey's first and only antivirus software developed with 100% domestic technology, received the OPSWAT Gold certificate with the highest criteria of 33 companies in the world, as of September 2016. It is Turkey's first and only antivirus software with this certificate. The registration of the quality of our product with the OPSWAT Gold Certificate has made it a product that is trusted and integrated into its products by leading companies such as Cisco, Juniper Networks, F5 Networks, Citrix, Palo Alto Networks, which are among the largest technology manufacturers in the world.
      </h6>
    </div>
  </div>
  <!-- Column -->
</div>
